<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>
    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
            <h1><a class="navbar-brand" href="#">Dealership Review</a></h1>
            </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="btn btn-link" href="{% url 'djangoapp:about' %}">About Us</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                    </li>
                </ul>
            
        </div>
    </nav>

    <!--Add a dealer table here -->
    {% if dealer_list %}
    <ul>
    {% for dealer in dealer_list %}
        <div>
            <img src="{{ MEDIA_URL }}/{{ dealer.image }}" width="360" height="360" >
            <h1><b>{{ dealer.name }}</b></h1>
        </div>
    {% endfor %}
    </ul>
{% else %}
<p>No dealers are available.</p>
{% endif %}


    

    </body>

    <footer>
        <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
            <div class="navbar-text pull-left"></div>
            <div class= "navbar-text pull-right">
                <a href="{% url 'djangoapp:contact' %}">Contact Us</a>
            </div>
        </div>	
    </footer>

</html>
